*
!/.gitignore
!/.nojekyll
!/README.md
!/index.html
!/cv.html
!/style.css
!/script.js
!/cv.pdf
!/assets/
!/assets/headshot.png
!/assets/papers/
!/assets/papers/JMP_ambiguity.pdf
!/assets/papers/rel_identity_discrimination.pdf

